# ENGL105 - Ashlee McLean

## Feeder 3.1 - Data Compilation

### Setup

First, you should import the packages you'll be using within Python.

As you'll see below, you can load Pandas by typing "import pandas" while also adding the "as pd" statement.

By doing this, you'll be able to call functions from pandas with pd.function instead of pandas.function for convenience purposes.

In [ ]:
import pandas as pd

Next, you want to create your dataframe object again, by using pandas to read in your .csv file.

"pd.read_csv" reads the data from your csv file into a dataframe object that we'll define as df.

To create your dataframe object, you'll need to define your object, df, by typing in "df=pd.read_csv("NameOfYourDataset.csv") like so:

In [15]:
df=pd.read_csv("CountyHealthData_2014-2015.csv")

### Filtering Data w/ Indexing

Now you're going to filter your dataset by using a method called indexing. Oftentimes, you'll want to select certain rows/columns from a large dataframe. This can be accomplished by indexing.

In order to get back just the information wanted within certain columns, you're going to type "df.loc[:,["ColumnName", "ColumnName", ColumnName"]]"

At the end of that command, you'll also add ".tail(n=# of desired rows)" in order to only receive the last # of desired rows in your dataset like so:

In [100]:
df.loc[:,["State","County","Premature death"]].tail(n=5)

     State           County  Premature death
6104    WY     Uinta County           7436.0
6105    WY  Washakie County           6580.0
6106    WY  Washakie County           7572.0
6107    WY    Weston County           5633.0
6108    WY    Weston County           7819.0

Now that you have a subset of data, you'll want to give this subset a name.

On the left side of the equation, type the desired name for your new subset of data.

On the right side of the equation, you'll need to copy the same command from the previous step, "df.loc[:,["ColumnName", "ColumnName", ColumnName"]].tail(n=#)" & add ".copy( )" to the end to get something like this:

"DesiredNameForNewData = df.loc[:,["ColumnName", "ColumnName", ColumnName"]].tail(n=#).copy( )"

In [109]:
PrematureData = df.loc[:,["State","County","Premature death"]].tail(n=5).copy()

### Exporting Your New Subset Data

Now, type in the name you gave to your new subset (whatever's on the left side of the equation) and press 'shift' + 'enter' on your keyboard to copy the dataset below like so:

In [108]:
PrematureData

     State           County  Premature death
6104    WY     Uinta County           7436.0
6105    WY  Washakie County           6580.0
6106    WY  Washakie County           7572.0
6107    WY    Weston County           5633.0
6108    WY    Weston County           7819.0

Lastly, you'll want to make a completely different csv file with this subset data you just created in order to export it.

To do this type in "DesiredNameForNewData.to_csv("DesiredNameForNewData.csv", index=False) and this should create a new .csv file name "DesiredNameForNewData.csv in your folder containing the original dataset.

In [106]:
PrematureData.to_csv("PrematureData.csv", index=False)